# Ignore node modules and Python virtual environments
node_modules/
frontend/node_modules/
Backend/venv/
# Ignore local database
Backend/instance/bloodnet.db

# Ignore compiled frontend assets
frontend/dist/
node_modules/
.env

__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.vscode/
.idea/
